EXT_PACKAGES_NAME[1]="luci-app-usb-printer"
EXT_PACKAGES_PATH[1]="applications/luci-app-usb-printer"
EXT_PACKAGES_REPOSITORIE[1]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[1]=""
EXT_PACKAGES_NAME[2]="luci-app-quickstart"
EXT_PACKAGES_PATH[2]="linkease/luci/luci-app-quickstart"
EXT_PACKAGES_REPOSITORIE[2]="https://github.com/zijieKwok/istoreos-nas-packages"
EXT_PACKAGES_BRANCH[2]=""
EXT_PACKAGES_NAME[3]="nas-packages"
EXT_PACKAGES_PATH[3]="linkease/nas-packages"
EXT_PACKAGES_REPOSITORIE[3]="https://github.com/zijieKwok/istoreos-nas-packages"
EXT_PACKAGES_BRANCH[3]=""
EXT_PACKAGES_NAME[4]="luci-lib-iform"
EXT_PACKAGES_PATH[4]="linkease/luci/luci-lib-iform"  
EXT_PACKAGES_REPOSITORIE[4]="https://github.com/zijieKwok/istoreos-nas-packages"
EXT_PACKAGES_BRANCH[4]=""
EXT_PACKAGES_NAME[5]="luci-app-netdata"
EXT_PACKAGES_PATH[5]=""
EXT_PACKAGES_REPOSITORIE[5]="https://github.com/sirpdboy/luci-app-netdata"
EXT_PACKAGES_BRANCH[5]=""
EXT_PACKAGES_NAME[6]="luci-app-store"
EXT_PACKAGES_PATH[6]="luci/luci-app-store"
EXT_PACKAGES_REPOSITORIE[6]="https://github.com/linkease/istore"
EXT_PACKAGES_BRANCH[6]=""
EXT_PACKAGES_NAME[7]="ipv6-helper"
EXT_PACKAGES_PATH[7]="package/lean/ipv6-helper"
EXT_PACKAGES_REPOSITORIE[7]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[7]=""
EXT_PACKAGES_NAME[8]="ddns-scripts_aliyun"
EXT_PACKAGES_PATH[8]="package/lean/ddns-scripts_aliyun"
EXT_PACKAGES_REPOSITORIE[8]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[8]=""
EXT_PACKAGES_NAME[9]="ddns-scripts_dnspod"
EXT_PACKAGES_PATH[9]="package/lean/ddns-scripts_dnspod"
EXT_PACKAGES_REPOSITORIE[9]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[9]=""
EXT_PACKAGES_NAME[10]="r8168"
EXT_PACKAGES_PATH[10]="package/lean/r8168"
EXT_PACKAGES_REPOSITORIE[10]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[10]=""
EXT_PACKAGES_NAME[11]="r8152"
EXT_PACKAGES_PATH[11]="package/lean/r8152"
EXT_PACKAGES_REPOSITORIE[11]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[11]=""
EXT_PACKAGES_NAME[12]="shortcut-fe"
EXT_PACKAGES_PATH[12]="shortcut-fe"
EXT_PACKAGES_REPOSITORIE[12]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[12]="package"
EXT_PACKAGES_NAME[13]="luci-app-frps"
EXT_PACKAGES_PATH[13]="luci-app-frps"
EXT_PACKAGES_REPOSITORIE[13]="https://github.com/kiddin9/kwrt-packages"
EXT_PACKAGES_BRANCH[13]=""
EXT_PACKAGES_NAME[14]="luci-app-zerotier"
EXT_PACKAGES_PATH[14]="applications/luci-app-zerotier"
EXT_PACKAGES_REPOSITORIE[14]="https://github.com/immortalwrt/luci"
EXT_PACKAGES_BRANCH[14]=""
EXT_PACKAGES_NAME[15]="luci-app-fileassistant"
EXT_PACKAGES_PATH[15]="luci-app-fileassistant"
EXT_PACKAGES_REPOSITORIE[15]="https://github.com/Lienol/openwrt-package"
EXT_PACKAGES_BRANCH[15]=""
EXT_PACKAGES_NAME[16]="luci-app-passwall"
EXT_PACKAGES_PATH[16]="luci-app-passwall"
EXT_PACKAGES_REPOSITORIE[16]="https://github.com/zijieKwok/vpnipk"
EXT_PACKAGES_BRANCH[16]=""
EXT_PACKAGES_NAME[17]="passwall-packages"
EXT_PACKAGES_PATH[17]=""
EXT_PACKAGES_REPOSITORIE[17]="https://github.com/xiaorouji/openwrt-passwall-packages"
EXT_PACKAGES_BRANCH[17]=""
EXT_PACKAGES_NAME[18]="passwall2"
EXT_PACKAGES_PATH[18]="luci-app-passwall2"
EXT_PACKAGES_REPOSITORIE[18]="https://github.com/xiaorouji/openwrt-passwall2"
EXT_PACKAGES_BRANCH[18]=""
EXT_PACKAGES_NAME[19]="nft-fullcone"
EXT_PACKAGES_PATH[19]=""
EXT_PACKAGES_REPOSITORIE[19]="https://github.com/fullcone-nat-nftables/nft-fullcone"
EXT_PACKAGES_BRANCH[19]=""
EXT_PACKAGES_NAME[20]="luci-app-turboacc"
EXT_PACKAGES_PATH[20]="luci-app-turboacc"
EXT_PACKAGES_REPOSITORIE[20]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[20]=""
EXT_PACKAGES_NAME[21]="luci-app-adguardhome"
EXT_PACKAGES_PATH[21]=""
EXT_PACKAGES_REPOSITORIE[21]="https://github.com/chenmozhijin/luci-app-adguardhome"
EXT_PACKAGES_BRANCH[21]=""
EXT_PACKAGES_NAME[22]="luci-app-argon-config"
EXT_PACKAGES_PATH[22]=""
EXT_PACKAGES_REPOSITORIE[22]="https://github.com/jerrykuku/luci-app-argon-config"
EXT_PACKAGES_BRANCH[22]=""
EXT_PACKAGES_NAME[23]="luci-app-diskman"
EXT_PACKAGES_PATH[23]="applications/luci-app-diskman"
EXT_PACKAGES_REPOSITORIE[23]="https://github.com/lisaac/luci-app-diskman"
EXT_PACKAGES_BRANCH[23]=""
EXT_PACKAGES_NAME[24]="luci-app-frpc"
EXT_PACKAGES_PATH[24]="luci-app-frpc"
EXT_PACKAGES_REPOSITORIE[24]="https://github.com/kiddin9/kwrt-packages"
EXT_PACKAGES_BRANCH[24]=""
EXT_PACKAGES_NAME[25]="luci-app-pushbot"
EXT_PACKAGES_PATH[25]="luci-app-pushbot"
EXT_PACKAGES_REPOSITORIE[25]="https://github.com/kiddin9/kwrt-packages"
EXT_PACKAGES_BRANCH[25]=""
EXT_PACKAGES_NAME[26]="luci-theme-argon"
EXT_PACKAGES_PATH[26]="luci-theme-argon"
EXT_PACKAGES_REPOSITORIE[26]="https://github.com/zijieKwok/openwrt-theme"
EXT_PACKAGES_BRANCH[26]=""
EXT_PACKAGES_NAME[27]="luci-app-socat"
EXT_PACKAGES_PATH[27]="applications/luci-app-socat"
EXT_PACKAGES_REPOSITORIE[27]="https://github.com/immortalwrt/luci"
EXT_PACKAGES_BRANCH[27]=""
EXT_PACKAGES_NAME[28]="r8125"
EXT_PACKAGES_PATH[28]=""
EXT_PACKAGES_REPOSITORIE[28]="https://github.com/sbwml/package_kernel_r8125"
EXT_PACKAGES_BRANCH[28]=""
EXT_PACKAGES_NAME[29]="luci-app-openclash"
EXT_PACKAGES_PATH[29]="luci-app-openclash"
EXT_PACKAGES_REPOSITORIE[29]="https://github.com/zijieKwok/vpnipk"
EXT_PACKAGES_BRANCH[29]=""
EXT_PACKAGES_NAME[30]="luci-app-mosdns"
EXT_PACKAGES_PATH[30]="luci-app-mosdns"
EXT_PACKAGES_REPOSITORIE[30]="https://github.com/sbwml/luci-app-mosdns"
EXT_PACKAGES_BRANCH[30]=""
EXT_PACKAGES_NAME[31]="mosdns"
EXT_PACKAGES_PATH[31]="mosdns"
EXT_PACKAGES_REPOSITORIE[31]="https://github.com/sbwml/luci-app-mosdns"
EXT_PACKAGES_BRANCH[31]=""
EXT_PACKAGES_NAME[32]="v2dat"
EXT_PACKAGES_PATH[32]="v2dat"
EXT_PACKAGES_REPOSITORIE[32]="https://github.com/sbwml/luci-app-mosdns"
EXT_PACKAGES_BRANCH[32]=""
EXT_PACKAGES_NAME[33]="luci-lib-taskd"
EXT_PACKAGES_PATH[33]="luci/luci-lib-taskd"
EXT_PACKAGES_REPOSITORIE[33]="https://github.com/linkease/istore"
EXT_PACKAGES_BRANCH[33]=""
EXT_PACKAGES_NAME[34]="luci-lib-xterm"
EXT_PACKAGES_PATH[34]="luci/luci-lib-xterm"
EXT_PACKAGES_REPOSITORIE[34]="https://github.com/linkease/istore"
EXT_PACKAGES_BRANCH[34]=""
EXT_PACKAGES_NAME[35]="taskd"
EXT_PACKAGES_PATH[35]="luci/taskd"
EXT_PACKAGES_REPOSITORIE[35]="https://github.com/linkease/istore"
EXT_PACKAGES_BRANCH[35]=""
EXT_PACKAGES_NAME[36]="luci-app-ota"
EXT_PACKAGES_PATH[36]=""
EXT_PACKAGES_REPOSITORIE[36]="https://github.com/zijieKwok/luci-app-ota"
EXT_PACKAGES_BRANCH[36]=""
EXT_PACKAGES_NAME[37]="luci-app-filetransfer"
EXT_PACKAGES_PATH[37]="luci-app-filetransfer"
EXT_PACKAGES_REPOSITORIE[37]="https://github.com/zijieKwok/openwrt-theme"
EXT_PACKAGES_BRANCH[37]=""
EXT_PACKAGES_NAME[38]="luci-lib-fs"
EXT_PACKAGES_PATH[38]="luci-lib-fs"
EXT_PACKAGES_REPOSITORIE[38]="https://github.com/zijieKwok/openwrt-theme"
EXT_PACKAGES_BRANCH[38]=""
EXT_PACKAGES_NAME[39]="luci-app-onliner"
EXT_PACKAGES_PATH[39]="luci-app-onliner"
EXT_PACKAGES_REPOSITORIE[39]="https://github.com/kiddin9/kwrt-packages"
EXT_PACKAGES_BRANCH[39]=""
EXT_PACKAGES_NAME[40]="luci-app-ddns-go"
EXT_PACKAGES_PATH[40]="luci-app-ddns-go"
EXT_PACKAGES_REPOSITORIE[40]="https://github.com/sirpdboy/luci-app-ddns-go"
EXT_PACKAGES_BRANCH[40]=""
EXT_PACKAGES_NAME[41]="ddns-go"
EXT_PACKAGES_PATH[41]="ddns-go"
EXT_PACKAGES_REPOSITORIE[41]="https://github.com/sirpdboy/luci-app-ddns-go"
EXT_PACKAGES_BRANCH[41]=""
EXT_PACKAGES_NAME[42]="luci-app-gpsysupgrade"
EXT_PACKAGES_PATH[42]="luci-app-gpsysupgrade"
EXT_PACKAGES_REPOSITORIE[42]="https://github.com/zijieKwok/ota"
EXT_PACKAGES_BRANCH[42]=""
EXT_PACKAGES_NAME[43]="lua-maxminddb"
EXT_PACKAGES_PATH[43]="lua-maxminddb"
EXT_PACKAGES_REPOSITORIE[43]="https://github.com/kiddin9/kwrt-packages"
EXT_PACKAGES_BRANCH[43]=""
